<!DOCTYPE html>
<html lang="en">

<head>
    <title> Calouro Simulator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        var jQuery_3_3_1 = $.noConflict(true);
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
    <section>
        <div class="row" style="margin: 0">
            <div class="col-xl-12" style="min-height: 64px; background: #e9faff; padding: 0">
                <div class="row" style="margin: 0">     
                    <div class="col-lg-3"> <%= link_to 'voltar', root_path %> </div>
                    <div class="col-lg-6">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center" style="border-top: none; color: #dc3545; font-weight: normal">Fome</th>
                                    <th class="text-center" style="border-top: none; color: #28a745; font-weight: normal">Saúde</th>
                                    <th class="text-center" style="border-top: none; color: #28a745; font-weight: normal">Higiene</th>
                                    <th class="text-center" style="border-top: none; color: #ffc107; font-weight: normal">Energia</th>
                                    <th class="text-center" style="border-top: none; color: #6c757d; font-weight: normal">Felicidade</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" id="hunger" style="width:<%= @student.hunger %>%"></div>
                                        </div>                          
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" id="health" style="width:<%= @student.health %>%"></div>
                                        </div>                          
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" id="hygiene" style="width:<%= @student.hygiene %>%">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" id="energy" style="width:<%= @student.energy %>%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-secondary" id="mood" style="width:<%= @student.mood %>%"></div>
                                        </div>
                                    </td>
                                    <label id="coeficiente"> Coeficiente: <%= @student.coefficient %> </label>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-3">
                        <a href="#" data-toggle="modal" data-target="#logoutModal">
                             <%= image_tag "user.jpg", :style => "margin-top:21px", width:"64", height:"64", title:"Logout", class:"rounded-circle float-right"%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row" id="emoji" style="margin: 0">
            <div class="col-xl-12 text-center" style="padding: 0; height: 256px;">
                <div id="emojiGenerico", class="<%= @student.icon %>"></div>
            </div>
        </div>
    </section>
    <footer>
        <div class="row" style="margin: 0">
            <div class="col-xl-12" style="min-height: 106px; background: #e9faff; padding: 0">
                <div class="row" style="margin: 0">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6" style="margin-top: 10px">
                        <table class="table" style="margin: 0">
                            <tr>
                                <td style="border-top: none">
                                    <div id="feed_btn" class="btn" style="background: #e9faff"  data-toggle="tooltip" title="Fome"> 
                                      <%= image_tag "fome.png", id: "feed_link", width:"48", class:"guedesbixa" %>
                                    </div>
                                </td>
                                <td style="border-top: none">
                                    <div id="bath_btn" class="btn" style="background: #e9faff"  data-toggle="tooltip" title="Higiene">
                                      <%= image_tag "higiene.png", id: "bath_link", width:"48", class:"guedesbixa" %>
                                    </div>
                                </td>
                                <td style="border-top: none">
                                    <div id="health_btn" class="btn" style="background: #e9faff"  data-toggle="tooltip" title="Remédio">
                                      <%= image_tag "health.png", id: "cure_link", width:"48", class:"guedesbixa" %>
                                    </div>
                                </td>
                                <td style="border-top: none">
                                    <div id="exercise_btn" class="btn" style="background: #e9faff"  data-toggle="tooltip" title="Atividade"> 
                                      <%= image_tag "atividade.png", id: "exercise_link", width:"48", class:"guedesbixa" %>
                                    </div>
                                </td>
                                <td style="border-top: none">
                                    <%= link_to play_path, :method => :get do %>
                                        <div id="play_btn" class="btn" style="background: #e9faff"  data-toggle="tooltip" title="Jogar"> 
                                        <%= image_tag "play.png", id: "play_link", width:"48", class:"guedesbixa" %>
                                        </div>
                                    <% end %>
                                </td>
                                <td style="border-top: none">
                                    <div id="study_btn" class="btn" style="background: #e9faff"  data-toggle="tooltip" title="Estudar"> 
                                        <%= image_tag "study.png", id: "study_link", width:"48", class:"guedesbixa" %>
                                        </div>
                                </td>
                                <td style="border-top: none">
                                    <div id="sleep_btn" class="btn" style="background: #e9faff"  data-toggle="tooltip" title="Dormir"> 
                                      <%= image_tag "sleep.png", id: "sleep_link", width:"48", class:"guedesbixa" %>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>

<script>

    $(document).ready(function(){
        
        $('[data-toggle="tooltip"]').tooltip();
        
        var altura = $(window).height();
        
        $('#emoji').css({
            'margin-top': ((altura-468)/2)+'px',
            'margin-bottom': ((altura-468)/2)+'px',
        });

        $('#feed_link').click(function () {
           $.ajax({
            type: "GET",
            url: "<%= feed_path %>",
            dataType: "json",
            success: function(student){
                $('#hunger').css({
                    'width': student.hunger.toString() + '%'
                });
                $('#mood').css({
                    'width': student.mood.toString() + '%'
                });
            }
           });
        });

        $('#cure_link').click(function () {
           $.ajax({
            type: "GET",
            url: "<%= cure_path %>",
            dataType: "json",
            success: function(student){
                $('#health').css({
                    'width': student.health.toString() + '%'
                });
                $('#mood').css({
                    'width': student.mood.toString() + '%'
                });
            }
           });
        });

        $('#bath_link').click(function () {
           $.ajax({
            type: "GET",
            url: "<%= bath_path %>",
            dataType: "json",
            success: function(student){
                $('#hygiene').css({
                    'width': student.hygiene.toString() + '%'
                });
                $('#mood').css({
                    'width': student.mood.toString() + '%'
                });
            }
           });
        });

        $('#exercise_link').click(function () {
           $.ajax({
            type: "GET",
            url: "<%= exercise_path %>",
            dataType: "json",
            success: function(student){
                $('#energy').css({
                    'width': student.energy.toString() + '%'
                });
                $('#mood').css({
                    'width': student.mood.toString() + '%'
                });
            }
           });
        });

        $('#sleep_link').click(function () {
           $.ajax({
            type: "GET",
            url: "<%= sleep_path %>",
            dataType: "json",
            success: function(student){
                $('#energy').css({
                    'width': student.energy.toString() + '%'
                });
                $('#mood').css({
                    'width': student.mood.toString() + '%'
                });
            }
           });
        });

        $('#study_link').click(function () {
           $.ajax({
            type: "GET",
            url: "<%= study_path %>",
            dataType: "json",
            success: function(student){
                document.getElementById('coeficiente').innerHTML = 'Coeficiente: <%= @student.coefficient %>';

                $('#energy').css({
                    'width': student.energy.toString() + '%'
                });
                $('#hygiene').css({
                    'width': student.hygiene.toString() + '%'
                });
                $('#health').css({
                    'width': student.health.toString() + '%'
                });
                $('#mood').css({
                    'width': student.mood.toString() + '%'
                });
            }
           });
        });

        function update() {
            $.ajax({
                type: "GET",
                url: "<%= update_path %>" ,
                dataType: "json",
                success: function(student) {
                    console.log('hunger: ', student.hunger.toString(),'   hygiene: ', student.hygiene.toString(),'   energy: ', student.energy.toString(),'   mood: ', student.mood.toString());
                    $('#emojiGenerico').removeClass();
                    $('#emojiGenerico').addClass(student.icon.toString());
                    $('#hunger').css({
                        'width': student.hunger.toString() + '%'
                    });
                    $('#health').css({
                        'width': student.health.toString() + '%'
                    });
                    $('#hygiene').css({
                        'width': student.hygiene.toString() + '%'
                    });
                    $('#energy').css({
                        'width': student.energy.toString() + '%'
                    });
                    $('#mood').css({
                        'width': student.mood.toString() + '%'
                    });
                }
            });
        };

        setInterval(update, 5000);

    });

</script>

<!-- Small modal -->
<div class="modal" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Log Out <i class="fa fa-lock"></i></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p><i class="fa fa-question-circle"></i> Are you sure you want to log-off? <br /></p>
                <div class="actionsBtns">
                    <form action="/logout" method="post">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <input type="submit" class="btn btn-default bgn-secondary" data-dismiss="modal" value="Logout" />
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>